@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .text-bc-muted {
    color: hsl(var(--bc) / var(--tw-text-opacity));
    --tw-text-opacity: 0.6;
  }

  .border-bc-muted {
    border-color: hsl(var(--bc) / var(--tw-text-opacity));
    --tw-text-opacity: 0.6;
  }
}
